<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RadioCallListManager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <RadioCallListManager.My.MySettings>
            <setting name="RadioSystemName" serializeAs="String">
                <value>CTRS</value>
            </setting>
            <setting name="RadioSystemID" serializeAs="String">
                <value>13B</value>
            </setting>
            <setting name="RadioWacnID" serializeAs="String">
                <value>DEE00</value>
            </setting>
        </RadioCallListManager.My.MySettings>
    </userSettings>
</configuration>